.sr__only {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

input:checked + .checkbox__label {
	background: linear-gradient(130deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
	border-color: #3863d9;
}

input:checked + .checkbox__label .path {
	stroke: #fff;
	stroke-dashoffset: 0;
}

input.sr__only:checked ~ p {
	color: hsl(235, 10%, 56%);
	text-decoration: line-through !important;
}

input:focus + .checkbox__label {
	box-shadow: var(--chakra-shadows-outline);
}

.checkbox__label {
	position: relative;
	background-color: transparent;
	min-width: 32px;
	height: 32px;
	border-radius: 16px;
	outline: 2px solid transparent;
	outline-offset: 2px;
	cursor: pointer;
	user-select: none;
	transition: all 0.35s ease-out;
}

.checkbox__label::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 16px;
	padding: 2px;
	background-color: transparent;
	border: 1px solid hsl(234, 11%, 65%);
}

.checkbox input:focus + .checkbox__label::before,
.checkbox__label:hover::before {
	background: linear-gradient(130deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	border: 0;
}

.checkbox__label svg {
	position: absolute;
	left: 8px;
	top: 9px;
	width: 15px;
	height: 15px;
	pointer-events: none;
}

.checkbox__label .path {
	stroke-dashoffset: 111.46px;
	stroke-dasharray: 111.46px;
	stroke: #3863d9;
	transition: all 0.35s ease-out;
}
